@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
html, body {
    background-color: #F6F6F4;
    color: rgb(65, 63, 63);
    width:100%;
    height:100%;
    margin: 0;
    font-family: 'Quicksand', sans-serif;   
}

#screenFill {
    height:100%;
    display:flex;
    flex-flow: column;
}

.container {
    flex: 1 1 auto;
    width:100%; 
    display: flex;
    align-items: stretch;
    flex-flow: row;
    border: 1px solid black;
}
.map-container {
    position: relative;
    align-self: stretch;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    
}
.map-filters {
    width:8%;
    border-right: 2px solid black;
    background-color: #F6F6F4;
}
.map-filters input[type="radio"] {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    
}
.map-filters label,
.map-filters input {
  display: block;
  margin:0;
  border:2px solid black;
  text-align: center;
}

.map-filters label {
    padding:10px;
    border-radius: 5px;
    background-color: #F6F6F4;
    margin:3px;
    margin-bottom: 0;
    transition-duration: 0.3s;
}
.map-filters input[type="radio"]:checked+label,
.Checked+label {
  background: rgb(83, 83, 83);
  color:white;
}
.map-filters label:hover {
    background-color: rgb(177, 177, 177);
    color:rgb(44, 44, 44);
}
.map-query {
    background-color:#F6F6F4;
    color: #0a0a0a;
    border-left: 2px solid black;
    transition-duration: 0.2s;
    max-width: 25%;
    display: block;

}
.collapsed {
    max-width: 0%;
}
.map-display {
    width:100%;
    background-color: transparent;
}
#map {
    flex-grow: 1;
    width:100%;
    height: fit-content;
}

.header {
    flex: 0 1 auto;
    width:100%;
    margin:auto;
    transition-duration: 0.2s;
    border:2px solid black; 
    color: black;
    background-color:#F6F6F4;
    z-index: 314158;

    
}
.header-child {
    width:80%;
    margin:auto;
    transition-duration: 0.2s;

    
}

.header:hover .header-child {
    width:70%;
}
.map-header {
    position:absolute;
    top:0;
    
    right:0;
    left:0;  
    pointer-events: none;
    padding:10px;
    z-index: 314159;
}
#year-text {
    text-align: center;
    width:50%;
    background-color: #1a1818bd;
    color:white;
    margin:auto;
    border-radius: 6px;
}
.time-slider {
    position:absolute;
    bottom:0;
    width: 100%;
    z-index: 314159;
    margin-bottom:20px;
}
.slider {
    width:0%;
    visibility: hidden;
    transition-duration: 0.3s;
}

.infoBox {
    position: absolute;
    width:15%;
    background-color: #252323c4;
    color:white;
    margin:10px;
    padding:10px;
    top: 0;
    right:0;
    z-index: 314159;
    border-radius: 10px;
    transition: 0.2s;
    
}
.infoBox ul {
    list-style: none;
}
.infoBox h3 {
    text-align: center;
}
button {
    background-color: #252323;
    padding:10px;
    border-radius: 10px;
    font-size: 1em;
    margin:20px;
    border:0px;
    color:white;
    font-family: 'Quicksand', sans-serif;
}
button:hover {
    background-color: white;
    color:black;
}
.popup {
    background: rgba(0, 0, 0, 0) !important;
    border: none !important;
    font-size: 1rem;
    box-shadow: none !important;
    font-family: 'Quicksand', sans-serif;
    box-shadow: none;
}
.popup .leaflet-popup-tip {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}
.popup .leaflet-popup-content-wrapper {
    background: #252323;
    color: #ffffff;
    box-shadow: none;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
    background-color: #F6F6F4;
    padding:10px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1.0;
}
#hidden-objects {
    visibility: visible;
    overflow: visible;
}
#point-query {
    padding:20px;
    width:100%;
    top: 0;
    bottom:0;
}