@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
html,
body {
    background-color: #F6F6F4;
    color: rgb(65, 63, 63);
    width: 100%;
    height: 100%;
    margin: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    overflow-x: hidden;
}

#screenFill {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.container {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    align-items: stretch;
    flex-flow: row;
    border: 1px solid black;
}

.map-container {
    position: relative;
    align-self: stretch;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    align-items: stretch;
    z-index: 1;

}

.sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    color: rgba(0, 0, 0, 0.603);
    padding: 20px;
    background-color: rgb(255, 255, 255);
    transition-duration: 200ms;
    text-align: center;
    

}

.sidebar img {
    width: 100%;
    height: auto;
    margin: auto;
    align-self: center;
    opacity: 50%;
}

.sidebar:hover img {
    opacity: 100%;
}

.sidebar:hover h3 {
    color: rgb(0, 0, 0);
}

.sidebar:hover .sidebar-content {

    opacity: 100%;
    transform: translateX(0px);
    transition: opacity 0.2s ease-in, transform 0.2s linear;
}

.sidebar-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    opacity: 0%;
    z-index: -100;
    left: 100%;
    padding-left: 5px;
    top: 0%;
    width: fit-content;
    height: 100%;
    color: black;
    transform: translateX(-200px);
    transition: opacity 0.2s ease-in, transform 0.2s linear;
}

.map-filters {
    width: 5%;
    border-right: 2px solid black;
    background-color: #F6F6F4;
    z-index: 12000;
    min-width:100px;
}

.map-filters input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;

}

.map-filters label,
.map-filters input {
    display: block;
    margin: 0;
    border: 2px solid black;
    text-align: center;
}

.map-filters label {
    padding: 10px;
    border-radius: 5px;
    background-color: #F6F6F4;
    margin: 2px;
    margin-bottom: 5px;
    margin-bottom: 0;
    transition-duration: 0.3s;
    white-space: nowrap;
}

.map-filters input[type="radio"]:checked+label,
.Checked+label {
    background: rgb(83, 83, 83);
    color: white;
    border-color: #ffffffa2;
}

.map-filters label:hover {
    background-color: rgb(177, 177, 177);
    color: rgb(44, 44, 44);

}

.map-query {
    position: relative;
    background-color: #F6F6F4;
    display: block;
    color: #0a0a0a;
    transition-duration: 0.2s;
    max-width: 25%;
    width: 20%;
    overflow: hidden;
    z-index: 13000;
    text-align: center;
    

}
.map-query-btn {
    position: absolute;
    top:0;
    right:0;
    bottom: 0;
    z-index: 200000;
    border: #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    

}
.map-query-btn button {
    border-radius: 50px;
    margin-right: -15px;
    padding:10px;
    padding-right:20px;
    background-color: #F6F6F4;
    color:black;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.collapsed {
    max-width: 0%;
    max-height: 0%;
}

.map-display {
    width: 100%;
    background-color: transparent;
}

#map {
    flex-grow: 1;
    width: 100%;
    height: fit-content;
}

.header {
    height: fit-content;
    background-color: #000000af;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    text-align: left;
    z-index: 129999;
    user-select: none;


}

.header h2 {
    margin: auto;
    padding: 4px;
}



.map-header {
    position: absolute;
    top: 0;

    right: 0;
    left: 0;
    pointer-events: none;
    padding: 10px;
    z-index: 314159;
}

#year-text {
    text-align: center;
    width: 50%;
    background-color: #1a1818bd;
    color: white;
    margin: auto;
    border-radius: 6px;
}

.time-slider {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 314159;
    user-select: none;
}
.time-slider svg {
    background-color: #252323;
    padding:20px;
    border-radius: 10px;
    user-select: none;
}
.time-slider svg .domain{
      stroke: #333333;
}
.time-slider svg .tick line {
    stroke: #828181;
}
.time-slider svg .tick text {
    fill: #828181;
}
.time-slider svg .handle {
      fill: #A9E806;
      stroke:white;
      stroke-width: 1px;
}
.time-slider svg .selection {
      fill: #A9E806;
      fill-opacity: 1;
      stroke: none;
 }
 .time-slider-tooltip {
     width:100px;
     pointer-events: none;
     background-color: #252323;
     border-radius: 10px;
     font-size: small;
     color:#bebebe;
     position: absolute;
     top:-20px;
     text-align: center;
     padding:5px;
 }
.slider {
    width: 0%;
    visibility: hidden;
    transition-duration: 0.3s;
}

.infoBox {
    position: absolute;
    width: 15%;
    background-color: #252323c4;
    color: white;
    margin: 10px;
    padding: 10px;
    top: 0;
    right: 0;
    z-index: 314159;
    border-radius: 10px;
    transition: 0.2s;

}

.infoBox ul {
    list-style: none;
}

.infoBox h3 {
    text-align: center;
}

button {
    background-color: #252323;
    padding: 5px;
    border-radius: 10px;
    font-size: 1em;
    margin: 2px;
    border: 0px;
    color: white;
    font-family: 'Quicksand', sans-serif;
    transition: 0.1s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.651);
    color: black;
}

.popup {
    background: rgb(255, 255, 255) !important;
    color:#555;
    padding:5px 15px 5px 15px;
    border-radius: 10px;
    border: 2px solid #252323;
    font-size: 0.7rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

    
}
circle {
    cursor: pointer;
}
.popup .leaflet-popup-tip {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}

.popup .leaflet-popup-content-wrapper {
    background: #252323;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 5px 5px 5px;
    transform: translateY(-10px);
}

.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
    background-color: #F6F6F4;
    padding: 10px;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1.0;
}

#hidden-objects {
    visibility: hidden;
    overflow: hidden;
    height:0%;
}

#point-query {
    padding: 20px;
    margin:auto;
    text-align: center;
}

.query-card {
    background-color: rgb(255, 255, 255);
    padding: 2px;
    margin: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}

.query-card ul {
    list-style: none;
    list-style-type: none;
    padding: 2px;
    margin-left: 0px;
    list-style-position: outside;
    text-align: left;
}

.point-query-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: rgb(129, 129, 129) #00000050;
}

.point-query-container::-webkit-scrollbar {
    background: #131212;
}

.point-query-header {
    position: sticky;
    top: 0;
    width: 100%;
    
    margin: auto;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #000000af;
    color: white;
    padding: 4px;
    user-select: none;
}
.point-query-filters {
    position: sticky;
    bottom:0;
    height: fit-content;
    width:100%;
    background:#33333357;
    text-align: left;
}
#point-filter-btn {
    width:100%;
    margin:0;
    background-color: #ffffff;
    color:black;
    opacity: 80%;
}
#point-filter-btn img {
    width:50px;
}
#point-filter-btn:hover{
    opacity: 100%;
}
.point-filter-item-container {
    display: flex;
    flex-direction: column;
    color:rgba(0, 0, 0, 0.466);
    user-select: none;
    margin:auto;
    text-transform: capitalize;
    
}
.point-filter-item-container h3 {
    color: #994343;
    transition-duration: 0.3s;
    background-color:#F6F6F4;
    padding:10px;
}
.point-filter-item-container:hover h3 {
    color:#F6F6F4;
    background-color:#555;
}
.point-filter-items {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    overflow-y: auto;
    overflow-x: hidden;
    padding:10px;
    max-height: 0px;
    /* display: none; */
    transition: 0.4s;
    visibility: hidden;
}
input[type="checkbox"]  {
    display: none;
 }
 .point-filter-items label {
     color:#555;
     user-select: none;
     width:80%;
     padding:5px;
     margin:auto;
     background-color: #F6F6F4;
 }
 .point-filter-items label:hover {
     color:#0a0a0a;
     font-weight: 500;
     background-color: #0000002a;
 }
 input[type="checkbox"]:checked + label{
     font-weight: 800;

 }
 .open {
     max-height: 800px;
     visibility: visible;
     display: flex;
     transition: 0.4s;
 }
#legendSelect {
 width: 50%;
}
.legend-select-container {
    display: flex;
    flex-direction: column;
    padding:10px;
    background-color: #F6F6F4;
    user-select: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 100%;
    justify-items: stretch;
    align-items: stretch;
    justify-content: center;
    
      
}
.state-info-container li{
    list-style-type: none;
    width:90%;
    text-align: right;

}
.state-info-container li b {
    text-align: left;
    float:left;
}
.state-info-container h3 {
    width:100%;
    padding:10px;
    background-color:#555;
    color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

svg.leaflet-zoom-animated > g > path {
    transition-property: radius, fill-color, fill-opacity, stroke, stroke-opacity, stroke-width;
    transition-duration: 0.4s;
 }
 .stroke-width {
   transition-duration: 0.4s;
}
.leaflet-states-pane {
    user-select: none;
    
}
.legend-flex {
    display: flex;
    flex-direction: row;
}
.legend-body {
    padding:10px;
    text-transform: capitalize;
}
.mouse-hover-window {
    position: absolute;
    padding:5px 15px 5px 15px;
    border-radius: 5px;
    background-color: #0a0a0a;
    color: #F6F6F4;
    width: fit-content;
    z-index: 90000;
    user-select: none;
    margin-left:20px;
    margin-top: 40px;
    font-size: small;
    transition-duration: 0.2s;
}
.point-selected {
    fill:red;
}